html,
body{
  height: 100%;
}

body{
  @extend %rubik-400;
  font-size: 16px;
  line-height: 30px;
  color: $deffault;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a{
  font-size: 14px;
  text-align: center;
  color: $link;
}

.title{
  @extend %dmsans-700;
  font-size: 36px;
  text-align: center;
  color: $title;
}

button{
  cursor: pointer;
}

.breadcrumbs{
  display: inline-flex;
  &__item-link{
    @extend %rubik-400;
    font-size: 14px;
    padding-right: 20px;
    color: #979ba0;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
      right: 5px;
      top: -6px;
    }
    &:last-child{
      color: #888c91;
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
}

.pagination{
  display: flex;
  padding-top: 30px;
  &__link{
    font-size: 16px;
    background-color: #fff;
    border: 1px solid $btn;
    margin-right: 15px;
    color: $deffault;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link--active{
    background-color: $btn;
    color: #fff;
  }
  &__link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 75px;
    height: 50px;
    color: $deffault;
    background-color: #fff;
    border: 1px solid $btn;
  }
}

