@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
.header{
  padding: 50px 0 55px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
    text-align: center;
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $info;
  }
}

.main{
  flex-grow: 1;
}

.top-slider{
  &__inner{
    padding-top: 200px;
    background-color: #fcd7b6;
    position: relative;
  }
  &__inner::after{
    content: url('../images/top-slider-ellipse.png');
    position: absolute;
    top: 90px;
    right: 200px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 300px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    padding-bottom: 195px;
  }
  &__title{
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    max-width: 420px;
    margin-bottom: 40px;
    color: $deffault;
  }
  &__text{
    @extend %rubik-400;
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 370px;
    color: $info;
  }
  &__link{
    @extend %rubik-500;
    display: inline-block;
    text-align: center;
    padding: 20px 90px 20px 25px;
    line-height: 12px;
    background-color: $btn;
    color: #fff;
    position: relative;
  }
  &__link::after{
    content: url('../images/icon/arrow-right.svg');
    position: absolute;
    left: 140px;
  }
  &__image{
    padding-top: 70px;
    padding-right: 300px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    li{
      button{
        @extend %rubik-500;
        border: none;
        padding: 0;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        font-size: 10px;
        line-height: 9px;
        margin-right: 10px;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: $deffault;
        }
      }
    }
  }
}

.features{
  &__items{
    background-color: #fef7f0;
    display: flex;
    justify-content: space-around;
  }
  &__item{
    border-right: 1px solid #e8e4df;
    padding: 50px 145px 30px 150px;
    position: relative;
  }
  &__item:last-child{
    border-right: none;
  }
  &__item--support::before{
    content: url('../images/icon/support-icon.svg');
    position: absolute;
    left: 80px;
    top: 63px;
  }
  &__item--truck::before{
    content: url('../images/icon/truck-icon.svg');
    position: absolute;
    left: 80px;
    top: 63px;
  }
  &__item--secure::before{
    content: url('../images/icon/secure-icon.svg');
    position: absolute;
    left: 80px;
    top: 63px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__text{
    @extend %dmsans-400;
    color: #585858;
    max-width: 220px;
  }
}

.video{
  background-image: url('../images/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 501px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 115px;
}

.product{
  padding: 70px 0 80px;
  &__title{
    margin-bottom: 30px;
  }
  &__buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__button{
    @extend %dmsans-700;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    color: #8b8b8b;
  }
  &__button + .product__button{
    margin-left: 30px;
  }
  &__items{
    max-height: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
  &__item{
    padding: 40px 0;
    border-radius: 10px;
    max-width: 270px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
  }
  &__item-img__box{
    height: 206px;
    overflow: hidden;
  }
  &__item-img{
    text-align: center;
    margin: 0 auto;
  }
  &__links-box{
    display: flex;
    justify-content: center;
    left: 50px;
    position: absolute;
    bottom: 188px;
  }
  &__link{
    margin-right: 17px;
    transition: all .5s;
  }
  &__link--search,
  &__link--heart,
  &__link--cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 50%;
  }
  &__link--search:hover,
  &__link--cart:hover,
  &__link--heart:hover{
    path{
      fill:#fff;
    }
    background-color: #a3bac7;
  }
  &__text{
    @extend %dmsans-500;
    color: $deffault;
    text-align: center;
    margin-top: 75px;
  }
  &__price{
    @extend %dmsans-700;
    color: $btn;
    text-align: center;
  }
  .mixitup-control-active{
    color: $title;
  }
}

.product-info{
  padding: 175px 0 100px;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 870px;
    height: 390px;
    padding-left: 390px;
    padding-top: 90px;
    background-color: rgb(252, 215, 182, 0.4);
    position: relative;
  }
  &__title{
    @extend %dmsans-700;
    color: $deffault;
    font-size: 26px;
    line-height: 32px;
    max-width: 250px;
    margin-bottom: 20px;
  }
  &__text{
    max-width: 350px;
    margin-bottom: 35px;
  }
  &__link{
    @extend %rubik-500;
    color: $info;
    font-size: 15px;
    line-height: 12px;
    padding: 20px 95px 20px 15px;
    border: 1px solid rgb(67, 99, 114, 0.4);
    border-radius: 5px;
    position: relative;
  }
  &__link::after{
    content: url('../images/arrow-right.svg');
    position: absolute;
    left: 140px;
    height: 0;
    top: 22px;
  }
  &__item--tellus::before{
    content: url('../images/product-info-1.png');
    position: absolute;
    left: 140px;
    bottom: 95px;
  }
  &__item--tempor::before{
    content: url('../images/product-info-2.png');
    position: absolute;
    left: 115px;
    bottom: 70px;
  }
}

.product-design{
  padding-bottom: 120px;
  &__title{
    margin-bottom: 30px;
  }
  &__buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__button{
    @extend %dmsans-700;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    color: #8b8b8b;
  }
  &__button + .product-design__button{
    margin-left: 30px;
  }
  &__items{
    display: grid;
    min-height: 526px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
  &__item{
    background-repeat: no-repeat;
  }
  &__subtitlelink{
    text-align: left;
  }
  &__subtitle{
    @extend %dmsans-700;
    font-size: 20px;
    color: $title;
    max-width: 210px;
    margin-bottom: 20px;
    padding: 40px 0 0 35px;
  }
  &__text{
    @extend %dmsans-700;
    color: $btn;
    padding-left: 35px;
  }
  .mixitup-control-active{
    color: $title;
  }
}

.blog{
  &__top{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    margin-bottom: 45px;
    color: $deffault;
  }
  &__link{
    @extend %dmsans-700;
    color: $blog;
    position: relative;
    padding-right: 25px;
    height: 0;
  }
  &__link::after{
    content: url('../images/icon/blog-arrow.svg');
    position: absolute;
    top: 1px;
    right: 5px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    max-width: 370px;
    margin-bottom: 90px;
  }
  &__img{
    margin-bottom: 35px;
  }
  &__text-box{
    max-width: 315px;
    min-height: 105px;
  }
  &__text{
    @extend %dmsans-500;
    color: $blog;
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 15px;
  }
  &__linkbox{
    position: relative;
    padding: 20px 0 25px 35px;
    font-size: 12px;
    text-transform: uppercase;
  }
  &__linkbox::before{
    content: url('../images/blog-border.svg');
    position: absolute;
    top: -20px;
    left: 25px;
  }
  &__date{
    margin-right: 25px;
    color: #222933;
  }
  &__author{
    color: #222933;
  }
}

.partners{
  background-color: rgb(252, 215, 182, 0.2);
  padding: 260px 0 85px 0;
  margin-top: -305px;
  margin-bottom: 70px;
  &__list{
    display: flex;
    justify-content: space-around;
  }
  &__item-img{
    padding-top: 90px;
  }
}

.footer-top{ 
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  &__logo{
    display: block;
    margin-bottom: 20px;
  }
  &__item{
    max-width: 195px;
    align-items: center;
    @extend %rubik-400;
    margin-bottom: 65px;
  } 
  &__address{
    line-height: 24px;
  }
  &__title{
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    @extend %dmsans-700;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    max-width: 230px;
    color: $link;
    margin-bottom: 30px;
  }
  &__input{
    padding: 10px 13px;
    background-color: #fef7f0;
    border: none;
    &::placeholder{
      @extend %dmsans-400;
      color: #234969;
      font-size: 12px;
    }
  }
  &__button{
    @extend %dmsans-400;
    border: none;
    padding: 10px 17px;
    background-color: #a3bbc8;
    color: #fff;
  }
  &__link{
    line-height: 32px;
  }
}
.footer-bottom{
  padding-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  &__copy{
    font-size: 14px;
    color: $link;
    @extend %rubik-400;
  }
  &__link{
    @extend %rubik-400;
    padding: 1px 12px;
    border-right: 1px solid $link;
  }
  &__link:last-child {
    border-right: none;
  }
}

//Login page

.top{
  color: #222933;
  padding: 30px 0;
  text-align: center;
  background-color: #edf1f4;
  &__title{
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

.login{
  padding: 115px 0px;
  width: 470px;
  margin: 0 auto;
  &__label{
    @extend %rubik-400;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    font-size: 14px;
    color: $info;
  }
  &__input{
    display: block;
    width: 100%;
    height: 60px;
    padding: 5px;
    margin-top: 8px;
  }
  &__btn{
    @extend %rubik-500;
    width: 100%;
    font-size: 18px;
    border: none;
    color: #fffefe;
    text-align: center;
    background-color: $btn;
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 13px 5px;
  }
  &__error{
    @extend %rubik-400;
    color: $info;
    float: right;
  }
  &__link{
    display: block;
    color: $info;
    margin-bottom: 20px;
    margin-top: 40px;
    position: relative;
  }
  &__link::after{
    content: url('../images/login-border.svg');
    position: absolute;
    top: -40px;
    left: 0;
  }
  &__create-btn{
    @extend %rubik-500;
    width: 100%;
    padding: 13px 5px;
    font-size: 18px;
    color: $deffault;
    border: 2px solid $btn;
    background-color: #fff;
  }
}

.login__partners{
  background-color: rgb(252, 215, 182, 0.2);
  margin-bottom: 55px;
  height: 251px;
}

.container__terms-conditions{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.terms-conditions{
  padding: 115px 0;
  &__item{
    margin-bottom: 60px;
  }
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  &__list{
    list-style: none;
    counter-reset: my-counter;
  }
  &__list-item{
    margin-bottom: 30px;
    counter-increment: my-counter;
  }
  &__list-item::before{
    content: '0' counter(my-counter) '.';
  }
}

.about{
  padding: 100px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__img{
    margin-right: 45px;
  }
  &__info{
    display: flex;
    margin-bottom: 40px;
  }
  &__number{
    @extend %rubik-700;
    font-size: 140px;
    line-height: 32px;
    margin-right: 30px;
    padding-top: 85px;
    color: $btn;
  }
  &__box{
    padding-top: 70px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 30px;
    color: $deffault;
  }
  &__text{
    margin-bottom: 65px;
    max-width: 555px;
  }
  &__benefits{
    position: relative;
    &::before{
      content: url('../images/about-border.jpg');
    }
  }
  &__benefits-items{
    display: flex;
    margin-left: 60px;
  }
  &__benefits-item{
    position: relative;
    padding-right: 120px;
    margin-top: 30px;
    &::after{
      content: url('../images/about-border-right.png');
      top: -10px;
      left: 115px;
      position: absolute;
    }
    &:last-child::after{
      display: none;
    }
    &::before{
      top: 8px;
      left: -60px;
      position: absolute;
    }
  }
  &__benefits-item--projects::before{
    content: url('../images/icon/about-icon-1.svg');
  }
  &__benefits-item--revenue::before{
    content: url('../images/icon/about-icon-2.svg');  
  }
  &__benefits-item--awards::before{
    content: url('../images/icon/about-icon-3.svg');
  }
  &__benefits-num{ 
   @extend %dmsans-700;
    font-size: 36px;
    line-height: 38px;
    color: $deffault;
  }
  &__benefits-text{
    @extend %dmsans-700;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 17px;
  }
}

.about__features{
  background-color: #fcd7b6;
  margin-bottom: 110px;
  &-list{
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
  }
  &-item{
    @extend %dmsans-700;
    color: $deffault;
  }
  &-imgbox{
    display: flex;
    justify-content: center;
    min-height: 64px;
    margin-bottom: 20px;
  }
  &-num{
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 15px;
  }
  &-text{
    text-align: center;
  }
}

.team{
  margin-bottom: 95px;
  &__inner{
    display: flex;
  }
  &__info{
    margin-right: 100px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 30px;
    color: $deffault;
  }
  &__text{
    max-width: 305px;
    margin-bottom: 30px;
  }
  &__link{
    @extend %poppins-600;
    font-size: 15px;
    line-height: 55px;
    border-radius: 5px;
    padding: 15px 55px 15px 15px;
    color: #fff;
    background-color: $btn;
    position: relative;
  }
  &__link::after{
    content: url('../images/icon/about-right.svg');
    position: absolute;
    top: -2px;
    right: 25px;
  }
  &__items{
    min-height: 740px;
    min-width: 770px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }
  &__item{
    background-repeat: no-repeat;
  }
  &__item-box{
    padding: 25px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    max-width: 325px;
    margin-top: 270px;
    position: relative;
  }
  &__name{
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 26px;
    color: $info;
  }
  &__position{
    color: #565872;
    display: inline-block;
  }
  &__link-iconbox{
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
  &__link-img{
    display: inline-block;
  }
}
















@import 'media';