@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 50px 0 55px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
    text-align: center;
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $info;
  }
}

.main{
  flex-grow: 1;
}

.footer-top{ 
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  &__logo{
    display: block;
    margin-bottom: 20px;
  }

  &__item{
    max-width: 195px;
    align-items: center;
    @extend %rubik-400;
    margin-bottom: 65px;
  }
  
  &__address{
    line-height: 24px;
  }

  &__title{
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    @extend %dmsans-700;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  &__text{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    max-width: 230px;
    color: $link;
    margin-bottom: 30px;
  }

  &__input{
    padding: 10px 13px;
    background-color: #fef7f0;
    border: none;
    &::placeholder{
      @extend %dmsans-400;
      color: #234969;
      font-size: 12px;
    }
  }

  &__button{
    @extend %dmsans-400;
    border: none;
    padding: 10px 17px;
    background-color: #a3bbc8;
    color: #fff;
    cursor: pointer;
  }
}

.footer-bottom{
  padding-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  &__copy{
    font-size: 14px;
    color: $link;
    @extend %rubik-400;
  }

  &__link{
    @extend %rubik-400;
    padding: 1px 12px;
    border-right: 1px solid $link;
  }

  &__link:last-child {
    border-right: none;
  }
}































@import 'media';